<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- header -->
  <desy-header>
    <desy-header-navigation>
      <desy-header-navigation-item routerLink="/autor/all">Autores</desy-header-navigation-item>
      <desy-header-navigation-item routerLink="/categoria/all">Categorias</desy-header-navigation-item>
      <desy-header-navigation-item routerLink="/libro/all">Libros</desy-header-navigation-item>
    </desy-header-navigation>
  </desy-header>
  <!-- /header -->
  <!--  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
 <ul class="menu">
     <li><a routerLink="/autor/all">Autores</a></li>
     <li><a routerLink="/categoria/all">Categorias</a></li>
     <li><a routerLink="/libro/all">Libros</a></li>
    </ul>
    </nav>
    <h1></h1>-->
  <router-outlet></router-outlet>
</body>

</html>