
<header>
   <ul>
      <li id="Libro">Libros</li>
      <form class="form-inline my-2 my-lg-0">
         <input style="float:right" type="search" (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel
            name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search libros..." required>
      </form>
      <li style="float:right"><a (click)="onOpenModal(null, 'add')" class="btn btn-primary tooltips"
            data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i>Add Libro</a></li>
   </ul>
</header>
<div class="container" id="main-container">
   <div class="row">
      <div *ngFor="let libro of libros" class="col-md-6 col-xl-3">
         <div class="card m-b-30">
            <div class="card-body row">
               <div class="col-6 card-title align-self-center mb-0">
                  <h5>ID:</h5>
                  <h5>{{libro?.id}} </h5>
                  <h5>TITULO:</h5>
                  <h5>{{libro?.titulo}}</h5>
                  <h5> Edicion:</h5>
                  <h5>{{libro?.edicion}}</h5>
                  <h5>IDAUTOR:</h5>
                  <h5>{{libro.autor? libro.autor.nombre:'Autor'}} {{libro.autor? libro.autor.apellido1:' Anonimo'}}</h5>
                  <h5>CATEGORIA:</h5>
                  <h5>{{libro.categoria? libro.categoria.descripcion:'Sin Categoria'}}</h5>
               </div>
            </div>
            <ul class="list-group list-group-flush"></ul>
            <div class="card-body">
               <div class="float-right btn-group btn-group-sm">
                  <a (click)="onOpenModal(libro, 'edit')" class="btn btn-primary tooltips" data-placement="top"
                     data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
                  <a (click)="onOpenModal(libro, 'delete')" class="btn btn-secondary tooltips" data-placement="top"
                     data-original-title="Delete"><i class="fa fa-times"></i></a>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<!--Delete Libro-->
<div class="modal fade" id="deleteLibroModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="deleteModelLabel">Delete Libro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <p>Are you sure you want to delete categoria {{deletelibro?.titulo}}?</p>
            <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
               <button (click)="onDeleteLibro(deletelibro?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
            </div>
         </div>
      </div>
   </div>
</div>
<!--Update Libro-->
<div class="modal fade" id="updateLibroModal" tabindex="-1" role="dialog" aria-labelledby="updateLibroModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="updateLibroModalLabel">Edit {{updatelibro?.titulo}}
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #editForm="ngForm">
               <div class="form-group">
                  <label for="titulo">titulo</label>
                  <input type="text" [(ngModel)]="updatelibro.titulo" name="titulo" class="form-control" id="titulo"
                     aria-describedby="emailHelp" placeholder="titulo">
               </div>
               <div class="form-group">
                  <label for="edicion">edicion</label>
                  <input type="number" [(ngModel)]="updatelibro.edicion" name="edicion" class="form-control"
                     id="edicion" aria-describedby="emailHelp" placeholder="edicion">
               </div>
               <div class="form-group">
                  <label for="id_autor">id_autor</label>
                  <select type="text" [(ngModel)]="updatelibro.autor.dni" name="id_autor" class="form-control"
                     id="id_autor" aria-describedby="emailHelp" placeholder="edicion">
                     <option [ngValue]="autor.value" *ngFor="let autor of autores">{{autor.text}}</option>
                  </select>
               </div>
               <div class="form-group">
                  <label for="id_categoria">id_categoria</label>
                  <select type="text" [(ngModel)]="updatelibro.categoria.id" name="id_categoria" class="form-control"
                     id="id_categoria" aria-describedby="emailHelp" placeholder="edicion">
                     <option [ngValue]="categoria.value" *ngFor="let categoria of categorias">{{categoria.text}}
                     </option>
                  </select>
               </div>

               <div class="modal-footer">
                  <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                  <button (click)="onUpdateLibro(updatelibro)" data-dismiss="modal" class="btn btn-primary">Save
                     changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
<!--Add libro-->
<div class="modal fade" id="addLibroModal" tabindex="-1" role="dialog" aria-labelledby="addLibroModalLabel"
   aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addLibroModalLabel">Add Libro</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddLibro(addForm)">
               <div class="form-group">
                  <label for="titulo">titulo</label>
                  <input type="text" [(ngModel)]="updatelibro.titulo" name="titulo" class="form-control" id="titulo"
                     aria-describedby="emailHelp" placeholder="titulo">
               </div>
               <div class="form-group">
                  <label for="edicion">edicion</label>
                  <input type="number" [(ngModel)]="updatelibro.edicion" name="edicion" class="form-control"
                     id="edicion" aria-describedby="emailHelp" placeholder="edicion">
               </div>
               <div class="form-group">
                  <label for="id_autor">id_autor</label>
                  <select type="text" [(ngModel)]="updatelibro.autor.dni" name="id_autor" class="form-control"
                     id="id_autor" aria-describedby="emailHelp" placeholder="id_autor">
                     <option [ngValue]="autor ? autor.value: ''" *ngFor="let autor of autores">{{autor ? autor.text:''}}
                     </option>
                  </select>
               </div>
               <div class="form-group">
                  <label for="id_categoria">id_categoria</label>
                  <select type="text" [(ngModel)]="updatelibro.categoria.id" name="id_categoria" class="form-control"
                     id="id_categoria" aria-describedby="emailHelp" placeholder="id_categoria">
                     <option [ngValue]="categoria.value" *ngFor="let categoria of categorias">{{categoria.text}}
                     </option>
                  </select>
               </div>
               <div class="modal-footer">
                  <button type="button" id="add-libro-form" class="btn btn-secondary"
                     data-dismiss="modal">Close</button>
                  <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</div>
